strong {
  color: red;
}
a {
  color: green;
  text-decoration: none;
}
h1 {
  font-size: 50px;
  text-align: center;
  border-bottom: 2px solid gray;
  margin: 0;
  padding: 20px;
  color: black;
}
#active {
  color: #9fc93c;
  text-decoration: underline;
}
body {
  background-color: #eaeaea;
  margin: 0;
}
#grid ol {
  border-right: 2px solid gray;
  margin: 0;
  padding: 20px;
  width: 240px;
  padding-left: 45px;
}
#grid {
  display: grid;
  grid-template-columns: 310px 1fr;
}
#article {
  padding-left: 30px;
}
@media (max-width: 800px) {
  #grid {
    display: block;
  }
  #grid ol {
    border-bottom: 2px solid gray;
    border-right: none;
    width: auto;
  }
}
